html,
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden
 }
.icon {
	color:white;
	width: 32px;
	/* height: 32px; */
	max-width: 100%;
    height: auto;
	
}

.iconTab {
	color:white;
	width: 25px;
	/* height: 32px; */
	max-width: 100%;
    height: auto;
	
}
.icon-user{
	position: absolute;
    right: 244px;
    width: 26px;
    height: 26px;
    top: 3px;
}
.header-left-icon{
	
	cursor: pointer;
}

.statusHeader{
	border: none;
    background: black;
    color: white;
    outline: 0px;
}
.left-tab{
	padding: 0px;
}
.tabView-left {
	padding-right: 0px;
    background: #212b38;
	height: 48px;
	padding-top: 10px;
}

.tabView-left-icon{
	cursor: pointer;
}

.tabView-left-icon i{
	color:white;
	font-size: 18px;
}

.activeTabText{
	display: show;
}

.inactiveTabText{
	display: none;
}

.tabText{
	font-size: 10px;
	color: white; 
}


.tab-list-text{
	font-size: 13px;
	cursor: pointer;
	
}

.tab-list-active {
	background-color: #69737F;
	border-right: 4px solid white;
	margin-right: 0px;
}


/*  */
.toggleButton {
	display: none;
	visibility: hidden;
}
#expandDevelopment {
	height: 0px;
	overflow:hidden ;
	transition: height 0.3s;
}  
#toggleDevelopment:checked ~ #expandDevelopment{
	height: auto;
}
#toggleDevelopment:checked ~ label::before {
	content: "\f01b";
}
/*  */
/* Toggol tab Menu*/
.toggleQATeam {
	display: none;
	visibility: hidden;
}
#expandQATeam {
	height: 0px;
	overflow:hidden ;
	transition: height 0.3s;
}  
#toggleQATeam:checked ~ #expandQATeam {
	height: auto;
}
#toggleQATeam:checked ~ label::before {
	content: "\f01b";
}
/* */
.toggleProudctMgt {
	display: none;
	visibility: hidden;
}
#expandProudctMgt  {
	height: 0px;
	overflow:hidden ;
	transition: height 0.3s;
}  
#toggleProudctMgt:checked ~ #expandProudctMgt {
	height: auto;
}
#toggleProudctMgt:checked ~ label::before {
	content: "\f01b";
}
/* */
.toggleSupport {
	display: none;
	visibility: hidden;
}
#expandSupport{
	height: 0px;
	overflow:hidden ;
	transition: height 0.3s;
}  
#toggleSupport:checked ~ #expandSupport {
	height: auto;
}
#toggleSupport:checked ~ label::before {
	content: "\f01b";
}
/* */
label {
	text-align: center;
	
}
label:hover {
	color: #000;
}

label::before {
    font-family: FontAwesome;
    /* font-weight: bold; */
    font-size: 15px;
    content: "\f01a";
    /* vertical-align: text-top; */
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    /* background: url(images/icons/down_64x64.png) */
 /* background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%); */;
    padding-left: 3px;
    margin-top: -4px;
}


.toggleButtonText{
    /* background-color: #2c3a4b; */
    width: 98%;
    text-align: left;
    padding: 3px;
    padding-top: 6px;
}

.toggleGroupColor{
	background-color: #2c3a4b;
	width: 98%;
}